body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}

/* .menu {
    display: none
} */

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/pizza.jpg");
    min-height: 90%;
}
.active
{
    background-color: #CCC;
    color: #000;
}

.gifPizza {
    width: 330px;
    height: auto;
    box-align: center;
    margin-left:320px;
    margin-top:100px;
}